* {
  box-sizing: border-box;
}

header {
    
  width: 90%;
  padding: 16px;
  margin-top: 0;
  margin-left: 4%;
}

/* body is essentially the container for everything displayed on the webpage */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding:16px;
  background-color: #0C5679;
  background-image: linear-gradient(white, #ADEFD1FF, #3F8A8C, #0C5679, #0B0835, #0e1111);
  color:white;
}

/* makes sure the body fills the screen */
html, body { 
  min-height: 100%; 
}

/* put content in a content tag */
main {
  width: 90%;   
  background-color: #3F8A8C;
  border-radius: 16px;
  padding: 32px;
  margin:16px;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 0px 15px 10px #0e1111
}

main img {
  margin: 16px;
  border-radius: 6px;
  box-shadow: 0px 15px 10px darkslategrey;
}

/* this fixes a problem when using "float" that causes layouts to do weird things. If you're interested, css-tricks.com have a great article about it. */
.clearfix::after {
  content: "";
  clear: both;
  display: table; 
}



nav {
  width: 90%;  
  display:flex;
  overflow: hidden;
  background-color: #3F8A8C;
  border-radius: 16px;
  padding: 16px;
  margin:16px;
  margin-left: 5%;
  position: -webkit-sticky; /* Safari */
   position: sticky;
  top: 0;
  box-shadow: 0px 15px 10px darkslategrey
}

.nav-link, #toggle {
  float: centre;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  display: inherit;
}

.nav-link:hover, #toggle:hover {
  border-radius: 6px;
  background-color: #ADEFD1FF;
  color: #0B0835;
}

.nav .search-container {
  float: right;
}

.nav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  border: none;
  font-size: 17px;
}

.nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.nav .search-container button:hover {
  background: #ccc;
}


#toggle {
  display: none;
}

#home-content img {
  float: right;
  
}


#banner {
  width: 70%;
}

#logo {
  float:right;
  width: 16%;
}

#menu-icon {
  width: 25%;
  float: center;
  padding: 16px;
}

footer {
  width: 90%; 
  overflow: hidden;
  background-color: #F28A0F;
  border-radius: 16px;
  padding: 16px;
  padding-bottom: 10;
  margin:16px;
  margin-bottom: 10;
  margin-left: 5%;
  text-align: center;
  color: white;
  box-shadow: 0px 15px 10px black

}

footer a {
  float: centre;
  color: #FFE7BD;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
}

footer a:hover {
  border-radius: 6px;
  background-color: #FFE7BD;
  color: #0B0835;
}

.hide {
  display: none;
}
/* A media query can be used to change CSS values dependent on various factors, usually a max-width or min-width of the
  viewport (screen).
  Media queries always start with `@media target and (properties) {
  }`
  - the properties are what we are checking for
*/
@media screen and (max-width: 1024px) {
  aside {
      flex: 25%;
  }

  main {
      flex: 75%
  }
}

@media screen and (max-width: 768px) {
  aside {
      display: none;
  }


  main {
    margin-top: 40%;
    padding: 16px;
  }

  nav, .container, .row {
      flex-direction: column;
      width: 83%;
  }

  #banner {
    width: 100%;
  }

  nav {
      position: absolute;
  }

  .nav-link {
      display: none;
  }


  .nav .search-container {
    float: none;
  }
  .nav input[type=text], .nav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 16px;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }

  #toggle {
      display: block;
      cursor: pointer;
  }
}

.show {
  display: inherit;
}