* {
  box-sizing: border-box;
}

header {
    
  width: 90%;
  background-color: #3F8A8C;
  background-image: linear-gradient(white, #3F8A8C);
  border-radius: 16px;
  color: #0B0835;
  padding: 16px;
  margin-top: 0;
  margin-left: 5%;
  box-shadow: 0px 15px 10px darkslategrey
}

/* body is essentially the container for everything displayed on the webpage */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding:16px;
  background-color: #0C5679;
  background-image: linear-gradient(white, #ADEFD1FF, #3F8A8C, #0C5679, #0B0835, #0e1111);
  color:white;
}

/* makes sure the body fills the screen */
html, body { 
  min-height: 100%; 
}

/* put content in a content tag */
.content {
  width: 90%;   
  background-color: #3F8A8C;
  border-radius: 16px;
  padding: 16px;
  margin:16px;
  margin-left: 5%;
  box-shadow: 0px 15px 10px #0e1111
}

/* this fixes a problem when using "float" that causes layouts to do weird things. If you're interested, css-tricks.com have a great article about it. */
.clearfix::after {
  content: "";
  clear: both;
  display: table; 
}



nav {
  width: 90%;  
  overflow: hidden;
  background-color: #3F8A8C;
  border-radius: 16px;
  padding: 16px;
  margin:16px;
  margin-left: 5%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  box-shadow: 0px 15px 10px darkslategrey
}

nav a {
  float: centre;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  border-radius: 6px;
  background-color: #ADEFD1FF;
  color: #0B0835;
}

#logo {
  float:right;
  width: 6%;
}

#footer {
  position:absolute;
  bottom:0;
  width: 90%; 
  overflow: hidden;
  background-color: #F28A0F;
  border-radius: 16px;
  padding: 16px;
  padding-bottom: 10;
  margin:16px;
  margin-bottom: 10;
  margin-left: 5%;
  text-align: center;
  color: white;
  box-shadow: 0px 15px 10px black

}

#footer a {
  float: centre;
  color: #FFE7BD;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
}

#footer a:hover {
  border-radius: 6px;
  background-color: #FFE7BD;
  color: #0B0835;
}
